__pycache__/
file_list_archive/
file_list_current/
html_archive/
pdf_archive/
pdf_archive_raw/
pdf_current/
report_archive/
source_archive/
source_current/
source_previous/
AU_AIP_crawler/www.airservicesaustralia.com_aip_aip.html